@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

*{
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}
html, body, #root{
  min-height: 100%;
}
body{
  background: #000 url('./assets/background.jpg') no-repeat;
  background-size: cover; /*para ocupar todo o espaço da tela*/
  -webkit-font-smoothing: antialiased !important; /*font bem mais detalhada*/
}
body, input, button{
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 14px;
}
/*.container para alinhar tudo ao centro da tela*/
.container{
  margin: 80px auto 0;
  max-width: 450px;
  width: 100%; /*se o dispositivo tiver menos q 450px, irá ocupar 100%*/
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content{
  width: 100%;
  background: #fff;
  margin-top: 5vh;
  border-radius: 4px;
  padding: 30px;
}
.content > p{ /*primeiro <p> dentro do content*/
  font-size: 22px;
  line-height: 30px;
  margin-bottom: 30px;
  color: #000000cf;
}
.content form{
  display: flex;
  flex-direction: column;
}
.content form label{
  font-size: 14px;
  color: #444;
  font-weight: bold;
  margin-bottom: 8px;
  text-transform: uppercase;
}
.content form label span{
  font-weight: normal;
  font-size: 13px;
  color: #777777;
  text-transform: lowercase;
}
.content form label b{
  color:red;
}
.content form input{
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 2px;
  height: 45px;
  padding: 0 15px;
  font-size: 16px;
}
.content button.btn{
  border: 1px solid #f05a5b;
  border-radius: 2px;
  
  width: 100%;
  height: 42px;
  padding: 0 20px;
  
  font-size: 16px;
  font-weight: bold;
  
  color: #f05a5b;
  background-color: #fff;

  cursor: pointer;
  transition: 0.3s;
}
button.btn:hover{
  background: #f05a5b;
  color: #fff;
}